<div id="help" class="col-xs-12 col-sm-6 col-md-8">
  <!-- Edit this text in app/views/pages/about.html.erb -->
  <h2>Using Trove</h2>

  <p>Collections in Trove are available for use by Tufts University faculty and students, for teaching and research
    purposes. Initially, collections will include images selected by faculty for teaching Art History courses.  Faculty
    and students can create personal collections of images selected from those available in Trove.</p>

  <p>If you would like to schedule a training appointment, need assistance using the Trove, or to obtain faculty
    privileges please contact Christine Cavalier, Visual Resources Manager in the Dept. of Art and Art History
    <a href="mailto:christine.cavalier@tufts.edu">(christine.cavalier@tufts.edu)</a>, or Alicia Morris, Head of
    Technical Services, Tisch Library <a href="mailto:">(alicia.morris@tufts.edu)</a>.</p>

  <p>Trove Tutorials and tips are also available on this site.</p>

  <h3>Adding to the Collection</h3>

  <p>Our production staff selects art images scanned from various sources and catalogs them for addition to Trove.
    If you would like to request art images for inclusion in the collection please contact
    Christine Cavalier <a href="mailto:christine.cavalier@tufts.edu">(christine.cavalier@tufts.edu)</a>.</p>

  <h2>Help</h2>

  <h3>Finding Images</h3>
  <p>There are several ways to discover images in Trove:</p>
  <ul>
  <li>Use the Search box at the top of this page to search for keywords and names.
    <%= image_tag "help-image-1.png", :class => "img_help" %></li>
  <li>Browse for images by expanding the Names, Year, or Subject term list under Limit your search. Select a term to
    view the image thumbnails associated with the term selected.  You can view the detail of an image by clicking on
    the image thumbnail.<%= image_tag "help-image-2.png", :class => "img_help" %></li>
  <li>View a course collection by selecting the course name under the Course Collections heading. The images in the
    collection will display in gallery view. You can view the detail of an image by clicking on the image thumbnail.
    <%= image_tag "help-image-3.png", :class => "img_help" %></li>
  <li>View your personal collection(s) by selecting the collection name under the My Collections heading.  You can
    view the detail of an image by clicking on the image thumbnail.
    <%= image_tag "help-image-4.png", :class => "img_help" %></li>
  </ul>


  <h3>Navigating Through Collections</h3>
  <p>You can view Course or Personal Collections either via the Gallery or Slideshow view.</p>
  <ul>
  <li>From the homepage, click on a collection name in the left hand navigation pane</li>
  <li>Images and any nested sub-collections (identified by a folder icon with the sub-collection name listed below the
    icon) will display in the gallery view.  Clicking on a sub-collection folder will display the images in that
    <nobr>sub-collection</nobr>.
    </li><span><%= image_tag "help-image-5.png", :class => "img_help" %></span>
  <li>To view the images as a slideshow click on the “view as slideshow” link in the upper left corner of the image set.
    <%= image_tag "help-image-6.png", :class => "img_help" %></li>
  <li>If you are viewing images in a collection that displays nested sub-collection folders clicking on “view as
    slideshow” will display a slideshow of all the images, including images in the sub-folders.</li>
  <li>If you move into a subfolder and then view the slideshow, only the images within the subfolder will be displayed.</li>
  </ul>

  <h3>Creating Personal Collections</h3>
  <p>You can create a collection for your personal use.  To create a personal collection:</p>
  <ul>
  <li>Click on the + icon next to My Collections.<%= image_tag "help-image-7.png", :class => "img_help" %></li>
  <li>You will see a page with boxes for you to fill in for Title and Description.</li>
  <li>Click “Create Personal collection” to create your collection folder.  (To cancel the action click either the back
    arrow on your browser or click on the Tufts Digital Image Library logo at the top of the page)<%= image_tag "help-image-8.png", :class => "img_help" %></li>



  <li>You should now see your collection folder listed under My Collections in the left hand navigation pane.</li>
  <li>You can create a hierarchy of nested folders within your collection folder (your collection folder plus two
    levels) as a way to organize folders in your collection. To do this:
    <ul>
      <li>Create a new folder in My Collections</li>
      <li>Drag the new collection folder so that is nested within the original collection</li>
    </ul>
    <%= image_tag "help-image-9.png", :class => "img_help" %>
  </li>

  </ul>
  <p>Once you have created your Personal Collection you can add images to the folder(s).  To do this simply search for
    or browse to the images you want to review for selection.   There are two ways to add an image
    to a Personal Collection:</p>
  <ul>
  <li>From the Search Results list click on the image thumbnail or title of the image you want to add and drag it
    into your folder.  The outline of the folder will be highlighted in blue indicating that the image will be dropped
    into that folder once you release the mouse.</li>
    <span><%= image_tag "help-image-10.png", :class => "img_help" %></span>
  <li>From the single image view select the collection within “My Collections” and click on “Add” to add the image
    to your personal collection.<%= image_tag "help-image-11.png", :class => "img_help" %></li>

  </ul>

  <h3>Editing a Personal Collection</h3>
  <p>To edit a personal collect click on the name of the collection you want to edit from the “My Collections” list.</p>
  <ul>
  <li>Click on the “Actions” dropdown menu<%= image_tag "help-image-12.png", :class => "img_help" %></li>
  <li>Choose “edit collection”</li>
  <li>The edit collection display allows you to edit the Title and Description fields and re-order or delete images in the collection.
    <ul>
  <li>To re-order images simply drag and drop the image to the desired location in the image set.</li>
  <li>To delete images check the remove box in the upper right corner of the image thumbnail.  The image will then be greyed out.</li>
    </ul>
  </li>
  <li>To save your changes click on the blue box:  “Save changes to this collection.”<%= image_tag "help-image-13.png", :class => "img_help" %></li>




  <li>To cancel out of your changes, click on the Trove icon in the black bar at the top of the page.  You will see the
    message: “You have unsaved changes. Are you sure you want to leave the page?”</li>
  <li>Click OK to cancel out of your changes.</li>
  <li>You will be brought back to the Image Library homepage</li>
  </ul>

  <h3>Copying Collections</h3>
  <p>You can copy a course or personal collection for individual study. To copy a collection:</p>
  <ul>
  <li>From the image library homepage click on the collection name.   The images in the collection will display in the
    gallery view.</li>
  <li>Open the “Actions” dropdown menu and highlight: +copy this collection<%= image_tag "help-image-14.png", :class => "img_help" %></li>



  <li>A copy of the collection will appear in the “My Collections” list.  It will be an exact copy of the original
    collection with an identical name.  You should go into your copy of the collection and rename it so that you can
    easily distinguish between the original and copy of the collection.
    <ul>
  <li>To rename a collection, click on the collection name</li>
  <li>In the “Actions” dropdown menu click on “edit this collection”</li>
  <li>An edit screen will display that allows editing of the Title and Description boxes.</li>
  <li>From this screen you can also re-order and/or remove images from the collection.  To mark images for removal
    check the remove box in the upper right corner of the thumbnail.</li>
  <li>Once you have made all your changes click on the blue box marked “save changes to this collection.”</li>
  <li>To cancel out of your changes click on the Trove icon in the black bar at the top of the page.  You will see the
    message: “You have unsaved changes.  Are you sure you want to leave this page?”</li>
  <li>Click OK.</li>
  <li>You will be brought back to the Image Library homepage</li>
    </ul>
  </li>
  </ul>

  <h3>Downloading Collections to PowerPoint (ppt.) or PDF</h3>
  <ul>
    <li>To download a set of images in a collection or sub-collection click on the collection folder
      you wish do download</li>
    <li>Open the Actions dropdown menu and choose download powerpoint or download PDF</li>
    <li>You will see a message stating that the material you are about to download is to be used only for teaching
      purposed or personal research.  Click OK to acknowledge that you understand and agree to abide by
      copyright restrictions.</li>
    <li>You will see a box allowing you to open or save the powerpoint or pdf file.</li>
    <%= image_tag "help-image-15.png", :class => "img_help" %>
  </ul>




</div>
