  <li class="<% if can?(:append_to, collection_member) %>drop-target<% end %> dd-item collection" data-id="<%= collection_member.pid %>">
    <%= hidden_field_tag "#{ActiveModel::Naming.singular(collection_member)}[members][#{counter.value}][id]", collection_member.id, id: "#{ActiveModel::Naming.singular(collection_member)}_members_#{counter.value}_id" %>
    <%= hidden_field_tag "#{ActiveModel::Naming.singular(collection_member)}[members][#{counter.value}][weight]", counter.value, id: "#{ActiveModel::Naming.singular(collection_member)}_members_#{counter.value}_weight", data: { property: 'weight' } %>
    <%= hidden_field_tag "#{ActiveModel::Naming.singular(collection_member)}[members][#{counter.value}][parent_page_id]", parent_id, id: "#{ActiveModel::Naming.singular(collection_member)}_members_#{counter.value}_parent_page_id", data: { property: 'parent_page' } %>
    <div class="dd-handle"><%= link_to collection_member.title, collection_member, class: 'dd-nodrag' %></div>
    <% counter.increment! %>
    <% unless collection_member.collection_members.empty? %>
      <ol class="course-collection-list dd-list">
        <%= render partial: 'collection_member', collection: collection_member.collection_members,
                    locals: { counter: counter, parent_id: collection_member.id} %>
      </ol>
    <% end %>
  </li>
