<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">Course Collections:
        <% if can?(:create, CourseCollection) %><%= link_to "+", new_course_collection_path,
               class: 'btn btn-default btn-sm' %><% end %>
      </h5>
    </div>
    <ul class="panel-body course-collection-list list-unstyled">
      <% @course_collections.each do |collection| %>
        <li class="drop-target" data-collection-id="<%= collection.pid %>"><%= link_to collection.title, collection %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">My Collections:
        <% if can?(:create, PersonalCollection) %><%= link_to "+", new_personal_collection_path,
               class: 'btn btn-default btn-sm' %><% end %>
    </h5>
  </div>
  <ul class="panel-body personal-collection-list list-unstyled">
    <% @my_collections.each do |collection| %>
      <li class="drop-target" data-collection-id="<%= collection.pid %>"><%= link_to collection.title, collection %></li>
    <% end %>
  </ol>
</div>
