<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">Course Collections: <%= link_to "+", new_course_collection_path,
        class: 'btn btn-default btn-sm' %></h5>
    </div>
    <ul class="panel-body course-collection-list list-unstyled">
      <% @course_collections.each do |collection| %>
        <li data-collection-id="<%= collection.pid %>"><%= link_to_if can?(:create, CourseCollection), collection.title, collection %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">My Collections: <%= link_to_if can?(:create, PersonalCollection), "+", new_personal_collection_path,
      class: 'btn btn-default btn-sm' %></h5>
  </div>
  <ul class="panel-body personal-collection-list list-unstyled">
    <% @my_collections.each do |collection| %>
      <li data-collection-id="<%= collection.pid %>"><%= link_to collection.title, collection %></li>
    <% end %>
  </ol>
</div>

<script type="text/javascript">
  $(function() {
    $(".document").draggable({
      helper: 'clone'
    });

    $(".personal-collection-list li").droppable({
      hoverClass: 'drop-target-hover',
      tolerance: 'pointer',
      drop: function(event, ui){
        pid = ui.draggable.find('.batch_document_selector').val();
        collection_id = $(this).data('collection-id');
        $.ajax({
          type: "PATCH",
          url: '/personal_collections/' + collection_id + '/append_to',
          data: {pid: pid},
          success: function(data, status){
            console.log(data);
            console.log(status);
          }
        });
      }
    });
    $(".course-collection-list li").droppable({
      hoverClass: 'drop-target-hover',
      tolerance: 'pointer',
      drop: function(event, ui){
        pid = ui.draggable.find('.batch_document_selector').val();
        collection_id = $(this).data('collection-id');
        $.ajax({
          type: "PATCH",
          url: '/course_collections/' + collection_id + '/append_to',
          data: {pid: pid},
          success: function(data, status){
            console.log(data);
            console.log(status);
          }
        });
      }
    });
  });
</script>
