<div <%= has_search_parameters? ? 'class=scroll-inside' : '' %> >

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'search_sidebar' %>
    <%= render 'curated_collection_list' %>
  </div>

  <div id="content" class="col-md-9 col-sm-8">
    <% if has_search_parameters? %>
      <%= render 'search_results' %>
    <% else %>
      <%= render 'home' %>
    <% end %>
  </div>

</div>
