  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Actions <span class="caret"></span>
    </button>
    <ul class="show-tools dropdown-menu" role="menu">
      <%= render 'link_to_copy_collection', collection: @curated_collection %>

      <li>
        <%= link_to polymorphic_path(@curated_collection, format: 'pptx'), data: {confirm: t('.copyright_acknowledgement')} do %>
         <%= icon 'download' %> download powerpoint
        <% end %>
      </li>

      <li>
        <%= link_to polymorphic_path(@curated_collection, format: 'pdf'), data: {confirm: t('.copyright_acknowledgement')}  do %>
         <%= icon 'download' %> download PDF
        <% end %>
      </li>

      <% if can? :edit, @curated_collection %>
        <li>
          <%= link_to [:edit, @curated_collection] do %>
            <%= icon 'pencil' %> edit collection
          <% end %>
        </li>
      <% end %>
      <% if can? :destroy, @curated_collection %>
        <li>
          <%= link_to @curated_collection, method: :delete, data: { confirm: t('.confirm_destroy') } do %>
            <%= icon 'trash' %> delete collection
          <% end %>
        </li>
      <% end %>
      <% if can? :update_type, @curated_collection %>
        <li>
          <%= update_collection_type_link(@curated_collection) %>
        </li>
      <% end %>
    </ul>
  </div>

