<%= bootstrap_form_for @curated_collection, html: {class: 'editor', :'data-form-observer' => true} do |f| %>
  <%= f.submit class: 'btn btn-primary pull-right' %>
  <div class="clearfix"></div>
  <%= f.text_field :title %>
  <%= render "records/edit_field", {f: f, render_req: true, key: :description } %>

  <% unless @curated_collection.new_record? %>
    <%= f.text_field :create_date, readonly: true, disabled: true %>
    <%= f.text_field :creator, readonly: true, disabled: true %>

    <div id="orderable" class="dd row gallery">
      <%= render partial: 'member_list', locals: {form: f} %>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
<% end %>
