          <li class="dd-item collection-member" data-id="<%= member_counter %>">
          <%= hidden_field_tag "#{ActiveModel::Naming.singular(@curated_collection)}[member_attributes][#{member_counter}][id]", member.id, id: "#{ActiveModel::Naming.singular(@curated_collection)}_member_attributes_#{member_counter}_id" %>
          <%= hidden_field_tag "#{ActiveModel::Naming.singular(@curated_collection)}[member_attributes][#{member_counter}][weight]", member_counter, id: "#{ActiveModel::Naming.singular(@curated_collection)}_member_attributes_#{member_counter}_weight", data: { property: 'weight' } %>
            <div class="dd-handle">
              <div class="thumbnail">
                <% if can? :update, @curated_collection %>
                  <%= link_to [:remove_from, @curated_collection, { position: member_counter}], method: :delete, class: "removeButton dd-nodrag" do %>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  <% end %>
                <% end %>
                <div class="text-center">
                  <%= thumbnail_tag(member) %>
                </div>
                <div class="caption">
                  <%= render 'curated_collections/index_header_default', document: member%>
                  <%= render 'catalog/index_gallery_default', document: member %>
                </div>
                <div style="clear: left"/>
              </div>
            </div>
          </li>

