          <% member_prefix = "#{ActiveModel::Naming.singular(@curated_collection)}[member_attributes][#{member_counter}]" %>
          <li class="dd-item collection-member" data-id="<%= member_counter %>">
          <%= hidden_field_tag "#{member_prefix}[id]", member.id %>
          <%= hidden_field_tag "#{member_prefix}[weight]", member_counter, data: { property: 'weight' } %>
            <div class="dd-handle">
              <div class="thumbnail">
                <% if can?(:update, @curated_collection) && form.present? %>
                  <div class="removeButton">
                    <%= label_tag "#{member_prefix}[remove]", :remove %>
                    <%= check_box_tag "#{member_prefix}[remove]", :remove %>
                  </div>
                <% end %>
                <div class="text-center">
                  <%= thumbnail_tag(member) %>
                </div>
                <div class="caption">
                  <%= render 'curated_collections/index_header_default', document: member%>
                  <%= render 'catalog/index_gallery_default', document: member %>
                </div>
                <div style="clear: left"/>
              </div>
            </div>
          </li>

