<div id="content" class="show-document">
  <div id="previousNextDocument">
    <%= render_breadcrumbs %>
  </div>

  <%= render 'actions' %>

  <h1><%=@curated_collection.title %> <small><%=@curated_collection.type.capitalize %> Collection</small></h1>
  <p class="lead"><%= @curated_collection.description.first %></p>

  <% if @curated_collection.members.size == 0 %>
    <h2>This collection does not have any members</h2>
  <% else %>
    <h2 class="clearfix">Members:</h2>
    <% if can?(:edit, @curated_collection) %>
      <%= bootstrap_form_for @curated_collection, html: {:'data-form-observer' => true}  do |f| %>
        <div id="orderable" class="dd row gallery">
          <%= render 'member_list' %>
        </div>
        <%= f.primary t('.save_order') %>
      <% end %>
    <% else %>
      <div class="dd row gallery">
        <%= render 'member_list' %>
      </div>
    <% end %>
  <% end %>
</div>
