<div id="previousNextDocument">
  <div class="pull-right search-widgets">
    <%=link_to "Back", :back %>
  </div>
</div>


<h1><%=@curated_collection.title %> <small><%=@curated_collection.type.capitalize %> Collection</small></h1>
<p class="lead"><%= @curated_collection.description.first %></p>

<% if @curated_collection.members.size == 0 %>
  <h2>This collection does not have any members</h2>
<% else %>
  <h2>Members:</h2>
  <div id="orderable" class="dd row gallery">
    <ol class="dd-list">
    <% @curated_collection.members.each_with_index do |member, idx| %>
      <li class="dd-item" data-id="<%= member.id %>">
        <div class="dd-handle">
          <div class="thumbnail">
            <%= image_tag download_path(member.id, datastream_id: 'Thumbnail.png') %>
            <div class="caption">
              <%= render partial: 'curated_collections/index_header_default', locals: {document: member, counter: idx + 1} %>
              <%= render partial: 'curated_collections/index_default', locals: {document: member, counter: idx + 1} %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    </ol>
  </div>
<% end %>
